<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>

    <ion-buttons slot="end">
      <ion-back-button default-href="#" title="Back to home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input name="correo" [(ngModel)]="correo" placeholder="Correo">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea name="mensaje" [(ngModel)]="mensaje"/>
  </ion-item>
  <ion-button (click)="enviar()">
    Enviar
  </ion-button>

</ion-content>
